body {
  background-color: #150d21;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.div-norm {
  border: 5px solid #000000;
  color: #ffffff;
  border-radius: 20px;
  color: white;
  font-size: 40
}
